---
layout: default
---

<h1>Request a holiday post!</h1>

<p>Submit a request by filling out <a href="https://msh-success.atlassian.net/servicedesk/customer/portal/2">this short form</a>.<br />Want to see examples? Check out this video:</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/5l5bvxxtKuI" frameborder="0" allowfullscreen></iframe>

<p><a href="https://msh-success.atlassian.net/servicedesk/customer/portal/2">Request a holiday post now &raquo;</a></p>

<h2>Looking for inspiration or ideas?</h2>
<p>Here are some common types of custom posts we've created for other small businesses.</p>

<h3>Updated holiday hours</h3>
<p>Examples coming soon...</p>
<p>Submit a request for <a href="https://msh-success.atlassian.net/servicedesk/customer/portal/2/create/97">this type of post »</a></p>

<h3>Product or service spotlight</h3>
<p>Examples coming soon...</p>
<p>Submit a request for <a href="https://msh-success.atlassian.net/servicedesk/customer/portal/2/create/98">this type of post »</a></p>

<h3>A sale or promotion</h3>
<p>Examples coming soon...</p>
<p>Submit a request for <a href="https://msh-success.atlassian.net/servicedesk/customer/portal/2/create/35">this type of post »</a></p>

<h2>Have questions? Let us know!</h2>

<p>Reach out to your account manager if there's anything you're still wondering about. Otherwise, let us know what type of post we can make for you – and it shall be done!</p>

<p>Otherwise, let us know what you'd like us to post about. Simply fill out this short form, and then sit back & relax...  we will handle the rest!</p>

<p><a href="https://msh-success.atlassian.net/servicedesk/customer/portal/2">Request a holiday post now &raquo;</a></p>
