---
layout: default
---

<div class="container">

    <img class="head-msh-logo" src="/assets/images/msh-logo.svg" />

    <!-- <h1 class="scripty">Request a holiday post!</h1> -->
    <p>
      <img class="head-text-heading" src="/assets/images/text-request-post.svg" />
    </p>

    <p>Submit a request by filling out <a href="https://msh-success.atlassian.net/servicedesk/customer/portal/2">this short form</a>. Want to see examples? Check out this video:</p>

    <div class="video-wrapper">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/5l5bvxxtKuI?rel=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>

    <p><a class="button" href="https://msh-success.atlassian.net/servicedesk/customer/portal/2">Request a holiday post now &raquo;</a></p>

    <br /><br /><br />

    <h2>Looking for inspiration or ideas?</h2>
    <p>Here are some common types of custom posts we've created for other small businesses.</p>

    <br /><br />

    <div class="placeholder-post-section">
      <h3 class="subhead">Updated holiday hours</h3>
      <div class="placeholder-post-wrapper">
        <div class="placeholder-post"><img src="/assets/images/posts/hours-1.jpg" /></div>
        <div class="placeholder-post"><img src="/assets/images/posts/hours-2.jpg" /></div>
        <div class="placeholder-post"><img src="/assets/images/posts/hours-3.jpg" /></div>
      </div>
      <p>Submit a request for <a href="https://msh-success.atlassian.net/servicedesk/customer/portal/2/create/97">this type of post »</a></p>
    </div>

    <div class="placeholder-post-section">
      <h3 class="subhead">Product or service spotlight</h3>
      <div class="placeholder-post-wrapper">
        <div class="placeholder-post"><img src="/assets/images/posts/product-2.jpg" /></div>
        <div class="placeholder-post"><img src="/assets/images/posts/product-1.jpg" /></div>
        <div class="placeholder-post"><img src="/assets/images/posts/product-3.jpg" /></div>
      </div>
      <p>Submit a request for <a href="https://msh-success.atlassian.net/servicedesk/customer/portal/2/create/98">this type of post »</a></p>
    </div>

    <div class="placeholder-post-section">
      <h3 class="subhead">A sale or promotion</h3>
      <div class="placeholder-post-wrapper">
        <div class="placeholder-post"><img src="/assets/images/posts/sale-2.jpg" /></div>
        <div class="placeholder-post"><img src="/assets/images/posts/sale-1.jpg" /></div>
        <div class="placeholder-post"><img src="/assets/images/posts/sale-3.jpg" /></div>
      </div>
      <p>Submit a request for <a href="https://msh-success.atlassian.net/servicedesk/customer/portal/2/create/35">this type of post »</a></p>
    </div>

    <div class="placeholder-post-section">
      <h3 class="subhead">An event you want to promote</h3>
      <div class="placeholder-post-wrapper">
        <div class="placeholder-post"><img src="/assets/images/posts/event-2.jpg" /></div>
        <div class="placeholder-post"><img src="/assets/images/posts/event-3.jpg" /></div>
        <div class="placeholder-post"><img src="/assets/images/posts/event-1.jpg" /></div>
      </div>
      <p>Submit a request for <a href="https://msh-success.atlassian.net/servicedesk/customer/portal/2/create/34">this type of post »</a></p>
    </div>

    <br /><br /><br /><br />

    <h2 class="subhead">Have questions? Let us know!</h2>

    <div style="max-width: 570px; margin: 24px auto 32px;">

      <p>Reach out to your account manager if there's anything you're still wondering about. Otherwise, let us know what type of post we can make for you – and it shall be done!</p>

      <p>Otherwise, let us know what you'd like us to post about. Simply fill out this short form, and then sit back & relax...  we will handle the rest!</p>
    </div>

    <p><a class="button" href="https://msh-success.atlassian.net/servicedesk/customer/portal/2">Request a holiday post now &raquo;</a></p>
<br /><br />
</div>
